In [1]:
import time
time.gmtime()

time.struct_time(tm_year=2021, tm_mon=9, tm_mday=13, tm_hour=20, tm_min=7, tm_sec=22, tm_wday=0, tm_yday=256, tm_isdst=0)

In [2]:
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir)

In [3]:
import pandas as pd
import itertools, collections
import time
import numpy as np

from _code import DeepLogModel
from _code import generator
from _code import seed
from _code import trie

In [4]:
### Parameters
_seed=6
subdir = "dynamic-6"
vocabulary_size = 40
num_patterns = 80
num_new_patterns = 5

In [5]:
seed.seed(_seed)
subdir = subdir

In [6]:
vocabulary_size = vocabulary_size
num_patterns = num_patterns
vocabulary = generator.make_vocabulary(vocabulary_size=vocabulary_size)
patterns = generator.generate_patterns(num_patterns=num_patterns, vocabulary=vocabulary, min_pattern_size=3, max_pattern_size=7)
trie_g = trie.calc_g_value(patterns)
trie_h = trie.calc_h_value(patterns)
print("trie-g:", trie_g)
print("trie-h:", trie_h)
text_train, marks_train = generator.generate_text(patterns, text_size=50000, anomaly_ratio=0.00, vocabulary=vocabulary) 
tests1 = generator.generate_tests(patterns, vocabulary, n=700, text_size = 4, anomaly_ratio=0.1)

trie-g: 35
trie-h: 4

In [7]:
import json, os

def write_inputs1(subdir, vocabulary_size, vocabulary, patterns, text_train, marks_train, tests):
    dir_= os.path.join("..\\inputs", subdir)
    os.makedirs(dir_, exist_ok=True)
    j1={
        "vocabulary_size" : vocabulary_size,
        "vocabulary" : vocabulary,
        "workflows" : patterns
    }
    json.dump(j1, open(os.path.join(dir_, "v-wf.json"), "w"))

    j2 = {"text_train" : text_train, "marks_train" : marks_train}
    json.dump(j2, open(os.path.join(dir_, "train.json"), "w"))

    j3 = {"tests" : tests}
    json.dump(j3, open(os.path.join(dir_, "tests1.json"), "w"))

def read_inputs1(subdir):
    dir_ = os.path.join("..\\inputs", subdir)
    j1 = json.load(open(os.path.join(dir_, "v-wf.json")))
    j2 = json.load(open(os.path.join(dir_, "train.json")))
    j3 = json.load(open(os.path.join(dir_, "tests1.json")))
    
    vocabulary_size = j1["vocabulary_size"]
    vocabulary = j1["vocabulary"]
    patterns = j1["workflows"]
    patterns = [tuple(p) for p in patterns]
    
    text_train = j2["text_train"]
    marks_train = j2["marks_train"]
    
    tests_str_keys = j3["tests"]
    tests = dict()
    for k,v in tests_str_keys.items():
        tests[int(k)] = tuple(v)
    
    
    return vocabulary_size, vocabulary, patterns, text_train, marks_train, tests

write_inputs1(subdir, vocabulary_size, vocabulary, patterns, text_train, marks_train, tests1)

In [8]:
ret_vocabulary_size, ret_vocabulary, ret_patterns, ret_text_train, ret_marks_train, ret_tests1 = read_inputs1(subdir)

assert ret_vocabulary_size == vocabulary_size
assert ret_vocabulary == vocabulary
assert ret_patterns == patterns
assert ret_text_train == text_train
assert ret_marks_train == marks_train
assert ret_tests1 == tests1

In [9]:
deep_log_model = DeepLogModel.DeepLogModel(h=trie_h+1, n=vocabulary_size, vocabulary=vocabulary)
deep_log_model.build(num_lstm_layers=2, lstm_size=64)
deep_log_model.fit(text_train,epochs=1)

In [10]:
b = time.time()
entries = list()
for k, (text_test, text_marks, anomaly) in tests1.items():
    for g in range(0, vocabulary_size+1):
        res = deep_log_model.monitor_session(text_test, text_marks, g=g)
        entry = (k,g,res)
        entries.append(entry)
e = time.time()
print("time:", round(e-b,3), "seconds")

time: 1482.382 seconds

In [11]:
df1 = pd.DataFrame(entries, columns = ["i","g","status"])
ddf1 = df1.pivot_table(index="i", columns = "g", values = "status", aggfunc = "sum")
def calc(s):
    c = dict(collections.Counter(s))
    TP = c.get("TP", 0)
    TN = c.get("TN", 0)
    FP = c.get("FP", 0)
    FN = c.get("FN", 0)
    eps = 1e-9
    
    prec = TP / (TP + FP + eps)
    rec = TP / (TP + FN + eps)
    acc = (TP + TN) / (TP + TN + FP + FN + eps)
    f1 = 2*(prec*rec)/(prec+rec+eps)
    
    return {"prec" : prec, "rec" : rec, "acc" : acc, "f1" : f1, "TP" : TP, "TN" : TN, "FP" : FP, "FN" : FN}
    
e=ddf1.apply(calc, axis=0)
e1=pd.DataFrame(list(e.values))

print("measure results for each g-value")
e1

measure results for each g-value

        prec       rec       acc        f1   TP   TN   FP   FN
0   0.284286  1.000000  0.284286  0.442714  199    0  501    0
1   0.284286  1.000000  0.284286  0.442714  199    0  501    0
2   0.284286  1.000000  0.284286  0.442714  199    0  501    0
3   0.284286  1.000000  0.284286  0.442714  199    0  501    0
4   0.283862  0.989950  0.287143  0.441209  197    4  497    2
5   0.284470  0.984925  0.291429  0.441441  196    8  493    3
6   0.287812  0.984925  0.302857  0.445455  196   16  485    3
7   0.292354  0.979899  0.320000  0.450346  195   29  472    4
8   0.296353  0.979899  0.332857  0.455076  195   38  463    4
9   0.298003  0.974874  0.340000  0.456471  194   44  457    5
10  0.302181  0.974874  0.352857  0.461356  194   53  448    5
11  0.307074  0.959799  0.372857  0.465286  191   70  431    8
12  0.308703  0.944724  0.382857  0.465347  188   80  421   11
13  0.315966  0.944724  0.402857  0.473552  188   94  407   11
14  0.321739  0.929648  0.422857  0.478036  185  111  390   14
15  0.329137  0.919598  0.444286  0.484768  183  128  373   16
16  0.336431  0.909548  0.464286  0.491180  181  144  357   18
17  0.343511  0.904523  0.481429  0.497925  180  157  344   19
18  0.352113  0.879397  0.505714  0.502874  175  179  322   24
19  0.362105  0.864322  0.528571  0.510386  172  198  303   27
20  0.367391  0.849246  0.541429  0.512898  169  210  291   30
21  0.375576  0.819095  0.561429  0.515008  163  230  271   36
22  0.395000  0.793970  0.595714  0.527546  158  259  242   41
23  0.408108  0.758794  0.618571  0.530756  151  282  219   48
24  0.427300  0.723618  0.645714  0.537313  144  308  193   55
25  0.437908  0.673367  0.661429  0.530693  134  329  172   65
26  0.459559  0.628141  0.684286  0.530786  125  354  147   74
27  0.493562  0.577889  0.711429  0.532407  115  383  118   84
28  0.497696  0.542714  0.714286  0.519231  108  392  109   91
29  0.521053  0.497487  0.727143  0.508997   99  410   91  100
30  0.524096  0.437186  0.727143  0.476712   87  422   79  112
31  0.570370  0.386935  0.742857  0.461078   77  443   58  122
32  0.594828  0.346734  0.747143  0.438095   69  454   47  130
33  0.635417  0.306533  0.752857  0.413559   61  466   35  138
34  0.774194  0.241206  0.764286  0.367816   48  487   14  151
35  1.000000  0.155779  0.760000  0.269565   31  501    0  168
36  1.000000  0.130653  0.752857  0.231111   26  501    0  173
37  1.000000  0.095477  0.742857  0.174312   19  501    0  180
38  1.000000  0.055276  0.731429  0.104762   11  501    0  188
39  1.000000  0.025126  0.722857  0.049020    5  501    0  194
40  0.000000  0.000000  0.715714  0.000000    0  501    0  199

In [12]:
### finding emprical best g
display(e1.loc[[e1["acc"].argmax()]])
display(e1.loc[[e1["f1"].argmax()]])

        prec       rec       acc        f1  TP   TN  FP   FN
34  0.774194  0.241206  0.764286  0.367816  48  487  14  151

      prec       rec       acc        f1   TP   TN   FP  FN
24  0.4273  0.723618  0.645714  0.537313  144  308  193  55

In [13]:
best_g = e1["f1"].argmax()
print("best-g", best_g)

best-g 24

## online_cases

In [14]:
num_new_patterns = num_new_patterns
new_patterns = generator.generate_patterns(num_patterns=num_new_patterns, vocabulary=vocabulary, min_pattern_size=3, max_pattern_size=7)

online_cases = generator.generate_tests(patterns + new_patterns, vocabulary, n=10000, text_size = 4, anomaly_ratio=0.0)

In [15]:
def write_inputs2(subdir, online_cases):
    dir_= os.path.join("..\\inputs", subdir)
    os.makedirs(dir_, exist_ok=True)
    
    j4 = {"online_cases" : online_cases}
    json.dump(j4, open(os.path.join(dir_, "online_cases.json"), "w"))

def read_inputs2(subdir):
    dir_ = os.path.join("..\\inputs", subdir)
    
    j4 = json.load(open(os.path.join(dir_, "online_cases.json")))
    online_cases_str_keys = j4["online_cases"]
    online_cases = dict()
    for k,v in online_cases_str_keys.items():
        online_cases[int(k)] = tuple(v)

    return online_cases

In [16]:
write_inputs2(subdir, online_cases)
ret_online_cases = read_inputs2(subdir)
assert ret_online_cases == online_cases

In [17]:
trie_g_new = trie.calc_g_value(patterns + new_patterns)
trie_h_new = trie.calc_h_value(patterns + new_patterns)
print("best-g:", best_g)
print("trie-g new: {}. (prev trie-g: {})".format(trie_g_new, trie_g))
print("trie-h new: {}. (prev trie-h: {})".format(trie_h_new, trie_h))
best_g_new = max(best_g, trie_g_new)
print("best-g-new:", best_g_new)

best-g: 24
trie-g new: 35. (prev trie-g: 35)
trie-h new: 4. (prev trie-h: 4)
best-g-new: 35

In [18]:
num_feedbacks = 0
num_feedbacks_new = 0
num_feedbacks_old = 0

def contains_new_pattern(text, new_patterns):
    new_ps_str = ["#".join(p) for p in new_patterns]
    text_str = "#".join(text)
    for new_p_str in new_ps_str:
        if new_p_str in text_str:
            return True
    return False
    
for index, case in online_cases.items():
    text, marks, anomaly_exists = case
    res = deep_log_model.monitor_session(text, marks, g=best_g)
    if res == "FP":
        deep_log_model.train_feedback(text, marks, g = best_g) # we are using here the old empirical best g. The theoretical g (trie_g_new) might be higher and give at the end worse results.
        num_feedbacks += 1
        if contains_new_pattern(text, new_patterns):
            num_feedbacks_new +=1
        else:
            num_feedbacks_old +=1 # count only totally "old" feedback cases without any new workflow

In [19]:
print("num_feedbacks_new", num_feedbacks_new)
print("num_feedbacks_old", num_feedbacks_old)
print("num_feedbacks", num_feedbacks)

num_feedbacks_new 979
num_feedbacks_old 3921
num_feedbacks 4900

In [20]:
tests2 = generator.generate_tests(patterns + new_patterns, vocabulary, n=700, text_size = 4, anomaly_ratio=0.1)

In [21]:
def write_inputs3(subdir, tests):
    dir_= os.path.join("..\\inputs", subdir)
    os.makedirs(dir_, exist_ok=True)
    
    j5 = {"tests" : tests}
    json.dump(j5, open(os.path.join(dir_, "tests2.json"), "w"))

def read_inputs3(subdir):
    dir_= os.path.join("..\\inputs", subdir)
    j5 = json.load(open(os.path.join(dir_, "tests2.json")))
    
    tests_str_keys = j5["tests"]
    tests = dict()
    for k,v in tests_str_keys.items():
        tests[int(k)] = tuple(v)
    return tests

In [22]:
write_inputs3(subdir, tests2)
ret_tests2 = read_inputs3(subdir)
assert ret_tests2 == tests2

In [23]:
b = time.time()
entries = list()
for k, (text_test, text_marks, anomaly) in tests2.items():
    for g in range(best_g, vocabulary_size+1): # adding WF can't cause lower g.
        res = deep_log_model.monitor_session(text_test, text_marks, g=g)
        entry = (k,g,res)
        entries.append(entry)
e = time.time()
print("time:", round(e-b,3), "seconds")

time: 606.812 seconds

In [24]:
df2 = pd.DataFrame(entries, columns = ["i","g","status"])
ddf2 = df2.pivot_table(index="i", columns = "g", values = "status", aggfunc = "sum")
def calc(s):
    c = dict(collections.Counter(s))
    TP = c.get("TP", 0)
    TN = c.get("TN", 0)
    FP = c.get("FP", 0)
    FN = c.get("FN", 0)
    eps = 1e-9
    
    prec = TP / (TP + FP + eps)
    rec = TP / (TP + FN + eps)
    acc = (TP + TN) / (TP + TN + FP + FN + eps)
    f1 = 2*(prec*rec)/(prec+rec+eps)
    
    return {"g" : s.name, "prec" : prec, "rec" : rec, "acc" : acc, "f1" : f1, "TP" : TP, "TN" : TN, "FP" : FP, "FN" : FN}
    
e=ddf2.apply(calc, axis=0)
e2=pd.DataFrame(list(e.values))

print("measure results for each g-value")
e2

measure results for each g-value

     g      prec       rec       acc        f1   TP   TN   FP   FN
0   24  0.385000  0.802083  0.594286  0.520270  154  262  246   38
1   25  0.397849  0.770833  0.617143  0.524823  148  284  224   44
2   26  0.406433  0.723958  0.634286  0.520599  139  305  203   53
3   27  0.418301  0.666667  0.654286  0.514056  128  330  178   64
4   28  0.443223  0.630208  0.681429  0.520430  121  356  152   71
5   29  0.464435  0.578125  0.701429  0.515081  111  380  128   81
6   30  0.485577  0.526042  0.717143  0.505000  101  401  107   91
7   31  0.510753  0.494792  0.731429  0.502646   95  417   91   97
8   32  0.581081  0.447917  0.760000  0.505882   86  446   62  106
9   33  0.629032  0.406250  0.771429  0.493671   78  462   46  114
10  34  0.773333  0.302083  0.784286  0.434457   58  491   17  134
11  35  0.955556  0.223958  0.784286  0.362869   43  506    2  149
12  36  0.975610  0.208333  0.781429  0.343348   40  507    1  152
13  37  0.960000  0.125000  0.758571  0.221198   24  507    1  168
14  38  1.000000  0.067708  0.744286  0.126829   13  508    0  179
15  39  1.000000  0.031250  0.734286  0.060606    6  508    0  186
16  40  0.000000  0.000000  0.725714  0.000000    0  508    0  192

In [25]:
best_result2 = e2.loc[[e2["f1"].argmax()]]
best_g2 = best_result2["g"].iloc[0]

In [26]:
e3 = e2[e2["g"] == best_g2].copy()
e3["num_feedbacks_new"] = num_feedbacks_new
e3["num_feedbacks_old"] = num_feedbacks_old
e3["num_feedbacks"] = num_feedbacks
e3

,g,prec,rec,acc,f1,TP,TN,FP,FN,num_feedbacks_new,num_feedbacks_old,num_feedbacks
1,25,0.397849,0.770833,0.617143,0.524823,148,284,224,44,979,3921,4900